ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a32828;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
  p {
    color: rgb(224, 46, 135); /* same as #bb5588 */
      background-color: rgb(6, 250, 230); /* same as #ffcc99 */
      padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
   }
  div {
    background-color: rgb(202, 243, 21); /* same as #ffcc99 */

   }
